h2 {
  font-family: Cambria;
}

p {
  font-family: Arial;
  font-weight: bold;
}

body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.button {
  background-color: lightseagreen;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 40px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.int-input {
  font-size: large;
  text-align: center;
  margin: 3px 3px;
}