body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

ol {
  margin-left: 44%;
  margin-right: 50%;
}

.li {
  font-weight: normal;
}

.li-strong {
  font-weight: bold;
  font-style: italic;
}
